

*{
    text-align: center;
    margin:0;
}

body {
    background: url("https://media.giphy.com/media/f73urdknsWliIEZiDw/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
}

body {
    font-family: monospace;
}

p {
    color: yellow;
    font-size:1rem;
}

.dice-generator {
    padding-top:10rem;
    font-size: 6rem;
    color: #4E4FEB;
}


button {
    background-color: #000000;
    color:#EEEEEE;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin:20px;
}

#diceFaceNum {
    padding: 6rem;
    color:#068FFF;
    font-size: 3rem;
    bottom:0;
}

